/* General
==================================*/
h1 {
    color: #fff;
    text-shadow: 0 1px 0px #000;
    font-size: 42px;
}


/* Utilities
==================================*/
.title-bordered {
    border-top: solid 2px #bbb;
    padding-top: 30px;
}

p {
    color: #555;
    margin: 0 0 25px;
}

.scroll {
    height: 100%;
}


/* Menu
==================================*/
.menu .bar.bar-header.expanded {
    transition: all .5s ease-in-out;
}

.menu-open .bar.bar-header.expanded {
    background-color: #222;
}

.menu h2 {
    bottom: 0;
    font-size: 18px;
    left: 16px;
    position: absolute;
}

.menu .avatar {
    height: 88px;
    width: 88px;
}

.menu.menu-left * {
    font-weight: bold;
}

.menu-open .ion-navicon {
    transform: rotate(-360deg);
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.menu-open .ion-navicon:before {
    content: "\f2ca";
}


/* Login
==================================*/
.app-icon {
    background-color: #fff;
    background: url('../img/xinwu.png') center;
    background-size: cover;
    border-radius: 0%;
    height: 80px;
    margin: 0 auto;
    width: 225px;
}

.social-login {
    position: fixed;
    bottom: 0;
}

/* About Posting
===============================================*/
.item-avatar, .item-avatar .item-content, .item-avatar-left, .item-avatar-left .item-content {
    padding-left: 72px;
    min-height: 72px;
}

.posting, .posting h1, .posting h2, .posting h3, .posting h4, .posting h5, .posting h6, .posting p, .posting-content, .posting-content h1, .posting-content h2, .posting-content h3, .posting-content h4, .posting-content h5, .posting-content h6, .posting-content p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.posting {
    border-color: rgba(255, 255, 255, 0.4);
    background-color: #fff;
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: 4px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.item h2 {
    margin: 0 0 2px 0;
    font-size: 13px;
    font-weight: bold;
}

.item p {
    color: #666;
    font-size: 10px;
    margin-bottom: 2px;
}

.card, .list-inset {
    overflow: hidden;
    margin: 0px 20px;
    border-radius: 0px;
    background-color: #fff;
}
.list {
    position: relative;
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 0;
    margin-bottom: 0px;
}

.card .item, .list-inset .item, .padding > .list .item, .padding-horizontal > .list .item {
    margin-right: 0;
    margin-left: 0;
    border-color: rgba(255, 255, 255, 0.4);
}

.range .icon {
    -webkit-box-flex: 0;
    -webkit-flex: 0;
    -moz-box-flex: 0;
    -moz-flex: 0;
    -ms-flex: 0;
    flex: 0;
    display: block;
    min-width: 50px;
    text-align: center;
    font-size: 28px;
    color: rgba(201, 206, 200, 0.97);
    padding-right: 0;
}


.customItemSize {
    font-size: 20px;
    border: aqua;
}
