<ion-view view-title="News">
    <ion-content ng-class="{expanded:$scope.isExpanded}">
        <div class="hero slide-up" style="background-image: url('img/login.jpg');">
        </div>
        <div class="tabs tabs-dark tabs-icon-top static">
            <a ui-sref="app.activity" class="tab-item">
                <i class="icon ion-ios-paper-outline"></i> News
            </a>
            <a ui-sref="app.friends" class="tab-item">
                <i class="icon ion-chatbubble muted"></i> Comments
            </a>
        </div>
        <h4><a class="content padding double-padding-x">Lorem ipsum dolor sit amet</a></h4>
        <strong class="content padding double-padding-x">Jakarta</strong>
        <p class="content padding double-padding-x">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus bibendum, odio lobortis ultricies maximus, turpis risus rhoncus nunc, nec posuere magna nibh sed augue. Vivamus nulla dolor, scelerisque vitae velit ac, tincidunt pharetra elit. Nulla sed luctus massa. Nullam cursus eleifend neque, quis porta libero tincidunt a. Nam mollis nulla diam, eget finibus dui elementum sollicitudin. Curabitur et ultrices erat. Suspendisse quis fringilla dui. Praesent lobortis, diam nec faucibus bibendum, dui tortor vestibulum quam, tempor scelerisque metus neque et libero. Vestibulum mollis tortor non condimentum lobortis. Praesent finibus euismod facilisis. Vestibulum pellentesque libero ut augue porttitor ornare.</p>

        <p class="content padding double-padding-x">Etiam bibendum eu mi a aliquam. Integer ut ipsum eu ligula vehicula ultrices quis vel arcu. Integer vitae sem a risus pellentesque eleifend bibendum sed felis. Sed imperdiet nec tortor non vulputate. Morbi vitae ullamcorper enim. Vivamus leo tortor, pharetra quis euismod eleifend, euismod non diam. Vivamus pharetra ultrices viverra. Ut ac risus felis. Nullam consequat nibh odio. Ut ac ultricies justo. Nulla laoreet maximus tellus, a finibus nibh tempor ut. Integer cursus velit et est gravida, hendrerit mattis dui pellentesque. Proin eget enim pulvinar, porta diam eget, varius neque.</p>

        <p class="content padding double-padding-x">Nunc quis porttitor augue, non interdum massa. Donec accumsan volutpat elit ut dignissim. Suspendisse potenti. Curabitur id pretium sem. Duis vel ipsum libero. Fusce bibendum, magna eu bibendum blandit, lorem dui elementum urna, eget euismod justo enim nec magna. Aliquam erat volutpat. Aenean viverra mauris sit amet justo lobortis, sed facilisis dolor aliquam. Cras nec vehicula purus. Cras nisl ipsum, aliquam ac leo id, fringilla interdum ipsum. Praesent nec lorem eget nunc cursus facilisis. Suspendisse sed urna mi. Sed cursus congue lectus eu laoreet. Nam quis sem nibh. Donec vitae ligula ante. Mauris posuere fermentum nibh sagittis rutrum.</p>




        <div class="list animate-fade-slide-in-right">
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
            </a>
            <a ui-sref="app.friends" class="item item-avatar item-icon-right">
                <img src="img/jon-snow.jpg">
                <h2>Jon Snow</h2>
                <p>Da illest illegitimate</p>
            </a>
        </div>
    </ion-content>
</ion-view>
